<p id="notice"><%= notice %></p>
<div class="col-lg-4" style="background-color: rgb(255, 255, 255);">

    <h2>User info</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>name</th>
            <th>introduction</th>
            <th></th>
          </tr>
        </thead>
    </table>
      <tbody>
        <% @users.each do |user| %>
          	<tr>
          	 <td><%= image_tag @user.get_profile_image(100,100) %></td>
          	 <br>
          	 <td><%= @user.name %></td>
          	</tr>
        <% end %>
      </tbody>
</div>
      <div class="col-lg-8">

      </div>