<h2>Book detail</h2>
<table class="table">
  		<tbody><tr>
          <td><a href="/users">
            <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2xMIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--50188cb755d9c1b53c042a3937cb3c1663ff0453/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVdscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--4a929dbc7794f3c4610ba9ba5402762ad9cd1a14/default-image.jpg"><br>
            akane
</a>          </td>
          <td><a href="/books/5104">title</a></td>
          <td>test</td>
          <td><a class="btn btn-sm btn-success edit_book_5104" href="/books/5104/edit">Edit</a></td>
          <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_5104" rel="nofollow" data-method="delete" href="/books/5104">Destroy</a></td>
        </tr>
      </tbody>
</table>